#div1{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background: red;
}

#div1:hover{
    /* transform: scale(2); */
    /* transform: rotate(45deg); */
    /* transform: skew(20deg, 10deg); */
    transform: translate(50px, 50px);
}